<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzy.mapper.MenuMapper">
    <select id="getMenuList" resultMap="menuBase">
          SELECT m1.id,m1.text,m1.url, m2.id as m_id ,m2.text as m_text,m2.url as m_url from menu m1 LEFT join menu m2
        on m1.id =m2.parent_id order by m1.id
    </select>

    <resultMap id="menuBase" type="com.lzy.domain.Menu">
        <id property="id" column="id"></id>
        <result property="text" column="text"></result>
        <result property="url" column="url"></result>
        <association property="parent" javaType="com.lzy.domain.Menu" columnPrefix="m_">
            <id property="id" column="id"></id>
            <result property="text" column="text"></result>
            <result property="url" column="url"></result>
        </association>
        <collection property="children" ofType="com.lzy.domain.Menu" select="listChildMenu" column="id" ></collection>
    </resultMap>

    <select id="getTreeData" resultMap="menuBase">
     select * from menu where parent_id is null
  </select>

    <!--根据根菜单的id  查询出子菜单-->
    <select id="listChildMenu" resultMap="menuBase">
    select * from menu where parent_id = #{id}
  </select>

    <!--保存菜单 -->
    <insert id="saveMenu">
        insert into menu (id,text,url,parent_id)  values (#{id},#{text},#{url},#{parent.id})
    </insert>

    <update id="updateMenu">
        update menu set text=#{text},url=#{url},parent_id = #{parent.id} where id =#{id}
    </update>
</mapper>